@function p2r($px) {
    @return $px/75 * 1rem;
}

@function p2r($px) {
    @return $px/75 * 1rem;
}

.page_buddhachanting {
    width: 100vw;
    height: 100vh;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .buddha_statue {
        width: p2r(200);
        height: p2r(300);
        background: gold;
    }
}

$item-width: p2r(55); // 佛珠宽
$item-height: p2r(55); // 佛珠高
$item-spacing: 36deg;
$item-distance: p2r(130); // 控制珠子间距
$circleMoveTime: 0.6s; // 佛珠转动动画时间
.circle_container_left {
    width: p2r(300);
    height: p2r(300);
    position: absolute;
    left: p2r(-80);
    bottom: p2r(-80);
    z-index: 9;

    .circle_item_wrapper {
        width: p2r(310);
        height: p2r(310);
        position: relative;
        cursor: pointer;
        transition: all $circleMoveTime;
        transform-origin: center;
        border-radius: 50%;
    }

    .item {
        transition: all 0.5s;
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                position: absolute;
                left: p2r(130);
                top: p2r(126);
                width: $item-width;
                height: $item-height;
                background: url("./modules/images/bead.png") no-repeat;
                background-size: 100% 100%;
                border-radius: 50%;
                transform-origin: center center;
                transform: rotate(#{($i - 1) * $item-spacing}) translate(#{$item-distance}) rotate(#{($i - 1) * -$item-spacing});
            }
        }
        &.bigItem {
            width: $item-width * 1.38;
            height: $item-width * 1.38;
            left: p2r(120);
            top: p2r(120);
        }
    }
}
.circle_container_right {
    width: p2r(300);
    height: p2r(300);
    position: absolute;
    right: p2r(-80);
    bottom: p2r(-80);
    z-index: 9;

    .circle_item_wrapper {
        width: p2r(310);
        height: p2r(310);
        position: relative;
        cursor: pointer;
        transition: all $circleMoveTime;
        transform-origin: center;
        border-radius: 50%;
    }

    .item {
        transition: all 0.5s;
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                position: absolute;
                left: p2r(130);
                top: p2r(126);
                width: $item-width;
                height: $item-height;
                background: url("./modules/images/bead.png") no-repeat;
                background-size: 100% 100%;
                border-radius: 50%;
                transform-origin: center center;
                transform: rotate(#{($i - 1) * $item-spacing}) translate(#{$item-distance}) rotate(#{($i - 1) * -$item-spacing});
            }
        }
        &.bigItem {
            width: $item-width * 1.38;
            height: $item-width * 1.38;
            left: p2r(120);
            top: p2r(120);
        }
    }
}
$textMoveTime: 0.72s; // 两个文案动画时间
.left_text_move {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate3d(-150%, 0, 0);
    text-align: center;
    z-index: 8;
    user-select: none;
    color: gold;
    font-size: p2r(36);

    @keyframes left_movesLeave {
        0% {
            margin-top: p2r(-250);
            opacity: 1;
            transform: translate3d(-150%, 0, 0);
        }

        100% {
            margin-top: p2r(-500);
            opacity: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
    }

    @keyframes left_movesEnter {
        0% {
            margin-top: p2r(0);
            transform: translate3d(-250%, 0, 0);
            opacity: 0;
        }

        100% {
            margin-top: p2r(-250);
            transform: translate3d(-150%, 0, 0);
            opacity: 1;
        }
    }
    &.left_moves-enter-active {
        animation: left_movesEnter $textMoveTime linear;
    }

    &.left_moves-leave-active {
        animation: left_movesLeave $textMoveTime linear;
    }
}
.right_text_move {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
    z-index: 8;
    user-select: none;
    color: gold;
    font-size: p2r(36);

    @keyframes textRightMoviesLeave {
        0% {
            margin-top: p2r(-250);
            opacity: 1;
            transform: translate3d(100%, 0, 0);
        }

        100% {
            margin-top: p2r(-500);
            opacity: 0;
            transform: translate3d(-50%, 0, 0);
        }
    }

    @keyframes textRightMoviesEnter {
        0% {
            margin-top: p2r(0);
            opacity: 0;
            transform: translate3d(200%, 0, 0);
        }

        100% {
            margin-top: p2r(-250);
            opacity: 1;
            transform: translate3d(100%, 0, 0);
        }
    }
    &.catchFishMovie-enter-active {
        animation: textRightMoviesEnter $textMoveTime linear;
    }

    &.catchFishMovie-leave-active {
        animation: textRightMoviesLeave $textMoveTime linear;
    }
}
